* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  row-gap: 20px;
  flex-direction: column;
  text-align: center;
}

body {
  display: flex;
  font-family: "Segoe UI", sans-serif;
  color: #6b006b;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box {
  flex: 1;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 20px;
  background-color: #a7d4f5;
}

/* Top Section: Flex Layout */
.top-section {
  display: flex;
  background-color: #a7d4f5;
  padding: 25px 40px;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}

/* bottom sectio: flex layout */
.bottom-section {
  
  
  display: flex;
  column-gap: 20px;
  max-width: 1200px;
  
}

.profile-image {
    display: flex;
  flex: 1;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
}

.intro {
    align-items: flex-start;
  flex: 1;
}

.profile-image img {
   width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.intro h2 {
  margin-bottom: 10px;
}

/* Responsive: Stack on small screens */
@media screen and (max-width: 600px) {
  .top-section,
  .bottom-section {
    
    row-gap: 20px;
    text-align: center;
  }
  /* Top Section: Flex Layout */
  .top-section {
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    place-items: center;
  }

  .bottom-section {
    flex-direction: column;
  }
  .profile-image {
    margin-left: 0;
    justify-content: center;
  }
}
